:root {
    --color-logo: #6e694c;
    --color-pastel-1: #87805E;
    --color-pastel-2: #B09B71;
    --color-pastel-3: #D8CCA3;
    --color-pastel-4: #EDDFB3;
}

* {
    margin: 0;
    padding: 0;
    /* la propiedad 'box-sizing' viene establecida en el valor 'border-box' a partir del link de Bootstrap */
}

body {
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, var(--color-pastel-1), var(--color-pastel-2));
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, var(--color-pastel-2), var(--color-pastel-3));
}

nav {
    background-color: var(--color-logo);
}

nav img {
    max-height: 2.5rem;
}

nav p {
    font-size: small;
    margin: 0;
    padding: 10px;
    border-left: 1px solid whitesmoke;
}

.navbar-toggler {
    display: grid;
    justify-self: end;
}

.navbar-collapse {
    align-items: end;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    color: whitesmoke;
    padding: 0;
    font-size: small;
    text-transform: uppercase;
}

header .nav-item::after {
    display: block;
    content: '';
    border-bottom: solid 2px;
    border-image-source: linear-gradient(90deg, var(--color-pastel-2), var(--color-pastel-4));
    border-image-slice: 1;
    padding-bottom: 3%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

header .nav-item:hover::after {
    transform: scaleX(1);
}


.slider {
    padding: 3rem;
    background-image: linear-gradient(90deg, var(--color-pastel-1), var(--color-pastel-3));
    text-shadow: -3px -1px 4px var(--color-pastel-4);
}

h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    min-height: 100vh;
    background-color: var(--color-pastel-4);
    overflow-x: hidden;
}

footer {
    margin: 0;
    height: 4rem;
    background-color: var(--color-logo);
    color: var(--color-pastel-4);
}

footer a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-pastel-4);
}


/* Home  */

#searchBox {
    background-color: #fff;
}

.selector {
    font-weight: 600;
}

#categorySelectors > div {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 5px;
    margin: 0.25rem 0.25rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.form-check-input {
    margin: 0 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: none;
}

.form-check-input:checked {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: var(--color-logo);
}

.card {
    width: 13rem;
    height: 22rem;
    padding: 0.5rem;
    background-color: var(--color-pastel-4);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.card-image {
    aspect-ratio: 1 / 1;
    margin: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  -4px -3px 8px #888888;
}

.card p {
    margin-bottom: 0;
}

.card-body p {
    font-size: 12px;
}

.card-bottom {
    margin: auto 0.5rem 0.25rem 0.5rem;
}

.card-bottom a, .btn {
    background-color: var(--color-pastel-2);
    color: #212529;
}

.card-bottom a:hover, button[type="submit"]:hover {
    background-color: var(--color-logo)!important;
    color: var(--color-pastel-4)!important;
}


/* Contact */

.contact-form, .form-control {
    background-color: var(--color-pastel-4);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.contact-form input, #message {
    background-color: #FFFAD7;
}

.form-label {
    font-weight: 600;
}


/* product Details */

.btn-outline-dark:hover {
    color: #fff;
    background-color: var(--color-logo)!important;
    border-color: var(--color-logo)!important;
}

.details-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: var(--color-pastel-3);
}

.details-image-container {
    box-shadow:  -4px -4px 6px #888888;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    box-sizing: inherit;
}

.details-image-container:hover {
    cursor: zoom-in;
}

.details-image-container img {
    width: 100%;
    /* height: auto; */
    position: absolute;
    display: block;
}

.details-image-container span {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    display: block;
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--color-pastel-4);
    text-align: center;
}

.details-image-container:hover span {
    display: none;
}

.details-data {
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-data ul {
    list-style-type: none;
    list-style-position: inside;
}

.details-data li>span {
    font-weight: bold;
}
